body {
    background-image: url('eng10.webp');
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #007bff;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
